* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

@font-face {
    font-family: 'Aileron-UltraLight';
    src: url('/static/fonts/Barlow/Barlow-ExtraLight.ttf') format('opentype');
}
@font-face {
    font-family: 'Aileron-Regular';
    src: url('/static/fonts/Barlow/Barlow-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Font-Medium';
    src: url('/static/fonts/Barlow/Barlow-SemiBold.ttf') format('opentype');
}

body {
    background-image: url('/static/Images/hans.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Aileron-UltraLight', sans-serif;
    overflow-y: auto;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

header {
    background: none;
    padding: 0;
}

/* Stylowanie nawigacji */
nav {
    display: flex;
    justify-content: center;
    width: 100%;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Wyśrodkowanie ikon w pionie */
    padding: 0;
    width: 100%;
    padding:0;
    margin:0;

}

nav ul li {
    flex:1;
    text-align: center;
    margin:0;
    padding:15px;
    border-bottom: 1px solid #ccc;

}

nav ul li a {
    display: block;
    width: 60px; /* Szerokość ikon */
    height: 60px; /* Wysokość ikon */
    margin: 0 auto;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: background-image 0.3s ease;
}

/* Dodanie tła dla ikon - czarne ikony */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Wyśrodkowanie ikon w pionie */
    padding: 0;
    width: 100%;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

nav ul li a {
    display: block;
    width: 60px; /* Szerokość ikon */
    height: 60px; /* Wysokość ikon */
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: background-image 0.3s ease, transform 0.3s ease; /* Dodanie transformacji */
}

/* Dodanie tła dla ikon - czarne ikony */
nav ul li a.home {
    background-image: url('/static/Images/Header/home.png'); /* Czarna ikona dla Home */
}

nav ul li a.about {
    background-image: url('/static/Images/Header/group.png'); /* Czarna ikona dla About Me */
}

nav ul li a.articles {
    background-image: url('/static/Images/Header/layers.png'); /* Czarna ikona dla Articles */
}

nav ul li a.github {
    background-image: url('/static/Images/Header/github.png'); /* Czarna ikona dla GitHub */
}

nav ul li a.linkedin {
    background-image: url('/static/Images/Header/linkedin.png'); /* Czarna ikona dla LinkedIn */
}

/* Zmiana tła na szare ikony po najechaniu */
nav ul li a.home:hover {
    background-image: url('/static/Images/Header/home-grey.png'); /* Szara ikona dla Home */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.about:hover {
    background-image: url('/static/Images/Header/group-grey.png'); /* Szara ikona dla About Me */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.articles:hover {
    background-image: url('/static/Images/Header/layers-grey.png'); /* Szara ikona dla Articles */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.github:hover {
    background-image: url('/static/Images/Header/github-grey.png'); /* Szara ikona dla GitHub */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.linkedin:hover {
    background-image: url('/static/Images/Header/linkedin-grey.png'); /* Szara ikona dla LinkedIn */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

main {
    padding: 20px 0;
}

.profile-info h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

.intro-text {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.2em;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.tech-item {
    text-align: center;
}

.tech-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

footer {
    color: #555;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    font-size: 1.2em;
}