* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

@font-face {
    font-family: 'Aileron-UltraLight';
    src: url('/static/fonts/Barlow/Barlow-ExtraLight.ttf') format('opentype');
}
@font-face {
    font-family: 'Aileron-Regular';
    src: url('/static/fonts/Barlow/Barlow-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Font-Medium';
    src: url('/static/fonts/Barlow/Barlow-SemiBold.ttf') format('opentype');
}

body {
    background-image: url('/static/Images/hans.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Aileron-UltraLight', sans-serif;
    overflow-y: auto;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

header {
    background: none;
    padding: 0;
}

/* Stylowanie nawigacji */
nav {
    display: flex;
    justify-content: center;
    width: 100%;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Wyśrodkowanie ikon w pionie */
    padding: 0;
    width: 100%;
    padding:0;
    margin:0;

}

nav ul li {
    flex:1;
    text-align: center;
    margin:0;
    padding:15px;
    border-bottom: 1px solid #ccc;

}

nav ul li a {
    display: block;
    width: 60px; /* Szerokość ikon */
    height: 60px; /* Wysokość ikon */
    margin: 0 auto;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: background-image 0.3s ease;
}

/* Dodanie tła dla ikon - czarne ikony */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Wyśrodkowanie ikon w pionie */
    padding: 0;
    width: 100%;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

nav ul li a {
    display: block;
    width: 60px; /* Szerokość ikon */
    height: 60px; /* Wysokość ikon */
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: background-image 0.3s ease, transform 0.3s ease; /* Dodanie transformacji */
}

/* Dodanie tła dla ikon - czarne ikony */
nav ul li a.home {
    background-image: url('/static/Images/Header/home.png'); /* Czarna ikona dla Home */
}

nav ul li a.about {
    background-image: url('/static/Images/Header/group.png'); /* Czarna ikona dla About Me */
}

nav ul li a.articles {
    background-image: url('/static/Images/Header/layers.png'); /* Czarna ikona dla Articles */
}

nav ul li a.github {
    background-image: url('/static/Images/Header/github.png'); /* Czarna ikona dla GitHub */
}

nav ul li a.linkedin {
    background-image: url('/static/Images/Header/linkedin.png'); /* Czarna ikona dla LinkedIn */
}

/* Zmiana tła na szare ikony po najechaniu */
nav ul li a.home:hover {
    background-image: url('/static/Images/Header/home-grey.png'); /* Szara ikona dla Home */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.about:hover {
    background-image: url('/static/Images/Header/group-grey.png'); /* Szara ikona dla About Me */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.articles:hover {
    background-image: url('/static/Images/Header/layers-grey.png'); /* Szara ikona dla Articles */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.github:hover {
    background-image: url('/static/Images/Header/github-grey.png'); /* Szara ikona dla GitHub */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.linkedin:hover {
    background-image: url('/static/Images/Header/linkedin-grey.png'); /* Szara ikona dla LinkedIn */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

main {
    padding: 20px 0;
}

.profile-info h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

.intro-text {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.2em;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.tech-item {
    text-align: center;
}

.tech-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

footer {
    color: #555;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    font-size: 1.2em;
    border-top: 1px solid #ccc;

}
.resume-section {
    margin-top: 20px;
    text-align: center;
}

.resume-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.resume-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Media queries */
@media (max-width: 800px) {
    body {
        overflow-x: hidden; /* Brak przewijania poziomego */
        background-image: url('/static/Images/hans.jpg'); /* Tło jak w wersji desktopowej */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .container {
        width: 95%; /* Szerokość kontenera na 95% szerokości ekranu */
        min-width: 0; /* Brak minimalnej szerokości */
        height: auto;
        padding: 5%;
        margin: 5% auto; /* Ustalanie marginesów */
        border-radius: 10px; /* Zmniejszenie zaokrąglenia */
        box-shadow: none; /* Brak cieniowania dla uproszczenia wyglądu */
        backdrop-filter: blur(3px); /* Delikatny efekt rozmycia tła */
        background-color: rgba(255, 255, 255, 0.9); /* Większa przezroczystość */
    }

    .profile {
        flex-direction: column; /* Ustawienie obrazka pod tekstem */
        align-items: center;
        gap: 10px; /* Dodanie odstępu między elementami */
    }

    .profile-info {
        text-align: center; /* Wyśrodkowanie tekstu */
    }

    .profile-info h2 {
        font-size: 1.5em;
    }

    .profile-info p {
        font-size: 1em;
    }

    .profile-picture img {
        width: 200px; /* Większy rozmiar obrazka */
        height: 200px;
        max-width: none;
        max-height: none;
        border-radius: 10px; /* Kwadratowy kształt */
        border: 2px solid #333;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        padding: 5% 0;
    }

    nav ul li {
        padding: 2%;
    }

    nav ul li a {
        width: 40px;
        height: 40px;
    }

    footer {
        font-size: 0.8em;
        padding: 5%;
        margin-top: 10%;
        color:black;
        border-radius: 10px;
        width: 100%;
        box-shadow: none;
    }

    .article {
        flex-direction: column;
        text-align: center;
    }

    .article .content {
        padding-right: 0;
    }

    .article .image {
        margin-bottom: 10px;
    }
    .resume-link {
        display: block;
        margin: 10px 0;
    }
}

/* Media queries dla maksymalnej responsywności */
@media (max-width: 500px) {
    body {
        overflow-x: hidden; /* Brak przewijania poziomego */
        background-image: url('/static/Images/hans.jpg'); /* Tło jak w wersji desktopowej */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .container {
        width: 95%; /* Zwiększenie szerokości kontenera do 95% */
        height: auto;
        padding: 5%;
        margin: 5% auto; /* Marginesy */
        border-radius: 10px; /* Mniejsze zaokrąglenia */
        box-shadow: none; /* Brak cieniowania */
        backdrop-filter: blur(3px); /* Delikatny efekt rozmycia tła */
        background-color: rgba(255, 255, 255, 0.98); /* Większa przezroczystość */
    }

    .profile {
        flex-direction: column; /* Ustawienie obrazka pod tekstem */
        align-items: center;
        gap: 15px; /* Większy odstęp między elementami */
    }

    .profile-info {
        text-align: center; /* Wyśrodkowanie tekstu */
    }

    .profile-info h2 {
        font-size: 2em; /* Dostosowanie rozmiaru tekstu */
    }

    .profile-info p {
        font-size: 1.2em; /* Dostosowanie rozmiaru tekstu */
    }

    .profile-picture img {
        width: 350px; /* Dostosowanie rozmiaru obrazka */
        height: 350px;
        max-width: none;
        max-height: none;
        border-radius: 10px; /* Kwadratowy kształt */
        border: 2px solid rgba(0,0,0,0);
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        padding: 5% 0;
    }

    nav ul li {
        padding: 2%;
    }

    nav ul li a {
        width: 40px; /* Większy rozmiar ikon */
        height: 40px;
    }

    footer {
        font-size: 0.8em;
        padding: 5%;
        margin-top: 10%;
        color: black;
        border-radius: 10px;
        width: 100%;
        box-shadow: none;
    }

    .article {
        flex-direction: column;
        text-align: center;
    }

    .article .content {
        padding-right: 0;
    }

    .article .image {
        margin-bottom: 10px;
        width: 100%;
    }
    .resume-link {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 375px) {
    body {
        overflow-x: hidden; /* Brak przewijania poziomego */
        background-image: url('/static/Images/hans.jpg'); /* Tło jak w wersji desktopowej */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .container {
        width: 95%; /* Szerokość kontenera na 95% szerokości ekranu */
        height: auto;
        padding: 5%;
        margin: 5% auto; /* Marginesy */
        border-radius: 5px; /* Mniejsze zaokrąglenia */
        box-shadow: none; /* Brak cieniowania */
        backdrop-filter: blur(3px); /* Delikatny efekt rozmycia tła */
        background-color: rgba(255, 255, 255, 0.98); /* Większa przezroczystość */
    }

    .profile-info h2 {
        font-size: 1.5em; /* Zwiększony rozmiar tekstu */
        margin-bottom: 15px;
    }

    .intro-text {
        font-size: 1em; /* Zwiększony rozmiar tekstu */
        text-align: center;
    }

    .profile-info {
        text-align: center; /* Wyśrodkowanie tekstu */
    }

    .profile-picture img {
        width: 100px; /* Mniejszy rozmiar obrazka */
        height: 100px;
        max-width: none;
        max-height: none;
        border-radius: 10px; /* Kwadratowy kształt */
        border: 1px solid rgba(0,0,0,0);
    }

    nav ul {
        flex-wrap: wrap; /* Pozwoli na zawijanie wierszy */
        justify-content: center;
        padding: 5% 0;
    }

    nav ul li {
        width: 50%; /* Dwie ikony w wierszu */
        padding: 10px; /* Dodanie odstępu */
    }

    nav ul li a {
        width: 40px; /* Mniejszy rozmiar ikon */
        height: 40px;
    }

    footer {
        font-size: 0.8em;
        padding: 5%;
        margin-top: 5%;
        color: black;
        border-radius: 5px;
        width: 100%;
        box-shadow: none;
    }

    .article {
        flex-direction: column;
        text-align: center;
    }

    .article .content {
        padding-right: 0;
    }

    .article .image {
        margin-bottom: 10px;
        width: 100%;
    }
    .resume-link {
        display: block;
        margin: 10px 0;
        font-size: 0.8em;
    }
}