* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Font-UltraLight';
    src: url('/static/fonts/Barlow/Barlow-ExtraLight.ttf') format('opentype');
}
@font-face {
    font-family: 'Font-Regular';
    src: url('/static/fonts/Barlow/Barlow-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Font-Medium';
    src: url('/static/fonts/Barlow/Barlow-SemiBold.ttf') format('opentype');
}

body {
    background-image: url('/static/Images/hans.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Font-UltraLight', sans-serif;
    line-height: 1.6;
    overflow-y: auto;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

header {
    background: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Wyśrodkowanie ikon w pionie */
    padding: 0;
    width: 100%;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

nav ul li a {
    display: block;
    width: 60px; /* Szerokość ikon */
    height: 60px; /* Wysokość ikon */
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: background-image 0.3s ease, transform 0.3s ease; /* Dodanie transformacji */
}

/* Dodanie tła dla ikon - czarne ikony */
nav ul li a.home {
    background-image: url('/static/Images/Header/home.png'); /* Czarna ikona dla Home */
}

nav ul li a.about {
    background-image: url('/static/Images/Header/group.png'); /* Czarna ikona dla About Me */
}

nav ul li a.articles {
    background-image: url('/static/Images/Header/layers.png'); /* Czarna ikona dla Articles */
}

nav ul li a.github {
    background-image: url('/static/Images/Header/github.png'); /* Czarna ikona dla GitHub */
}

nav ul li a.linkedin {
    background-image: url('/static/Images/Header/linkedin.png'); /* Czarna ikona dla LinkedIn */
}

/* Zmiana tła na szare ikony po najechaniu */
nav ul li a.home:hover {
    background-image: url('/static/Images/Header/home-grey.png'); /* Szara ikona dla Home */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.about:hover {
    background-image: url('/static/Images/Header/group-grey.png'); /* Szara ikona dla About Me */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.articles:hover {
    background-image: url('/static/Images/Header/layers-grey.png'); /* Szara ikona dla Articles */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.github:hover {
    background-image: url('/static/Images/Header/github-grey.png'); /* Szara ikona dla GitHub */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

nav ul li a.linkedin:hover {
    background-image: url('/static/Images/Header/linkedin-grey.png'); /* Szara ikona dla LinkedIn */
    transform: translateY(-5px); /* Podnoszenie ikony */
}

h3 {
    font-family: 'Font-Regular', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul, ol {
    margin-bottom: 20px;
    padding-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px 0;
}

.intro, .features, .demo, .setup, .source-code {
    margin-bottom: 40px;
}

.intro ul {
    list-style: disc;
}

.features ul, .setup ul {
    list-style: none;
}
.plus-icon {
    background-image: url('/static/Images/SVG/add-create-new-plus-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.features ul li::before, .setup ul li::before {
    content: "";
    color: #4CAF50;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin-right: 10px;
}

.demo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.demo-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Dodaje odstęp między obrazami a opisem */
}

.demo-img-container img {
    max-width: 100%; /* Dopasowuje szerokość obrazu do kontenera */
    height: auto; /* Utrzymuje proporcje obrazu */
}


.source-code a {
    color: #007BFF;
    text-decoration: none;
}

.source-code a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    color: #555;
    border-top: 1px solid #ccc;

}


.intro, .features, .scraping, .processing, .training, .source-code, .demo, .setup {
    font-size: 18px; 
    line-height: 1.8;
}

.intro h2, .features h2, .scraping h2, .processing h2, .training h2, .source-code h2 {
    font-size: 28px; 
    margin-bottom: 20px;
}

.intro h3, .features h3, .scraping h3, .processing h3, .training h3, .source-code h3 {
    font-size: 24px; 
    margin-bottom: 15px; 
}

.intro p, .features p, .scraping p, .processing p, .training p, .source-code p {
    font-size: 18px; 
    margin-bottom: 15px; 
}

.intro ul, .features ul, .scraping ul, .processing ul, .training ul, .source-code ul,
.intro ol, .features ol, .scraping ol, .processing ol, .training ol, .source-code ol {
    font-size: 18px; 
    margin-bottom: 20px;
}

.intro ul li, .features ul li, .scraping ul li, .processing ul li, .training ul li, .source-code ul li,
.intro ol li, .features ol li, .scraping ol li, .processing ol li, .training ol li, .source-code ol li {
    margin-bottom: 10px;
}

.intro img, .features img, .scraping img, .processing img, .training img, .source-code img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
}

/* Nowe style dla podziału sekcji na kolumny */

/* Kontener dla sekcji features w dwóch kolumnach */
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-container .feature-item {
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 20px;
}

.features-container .feature-item ul {
    list-style: disc;
    padding-left: 20px;
    list-style: none;
}

/* Styl dla elementów w sekcji features */
.features-container .feature-item li {
    margin-bottom: 10px;
}

/* Styl dla głównego tytułu */
h1.main-title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
    font-family: 'Font-Regular', sans-serif;
    color: #333;
    border-bottom: 1px solid #ccc;

}

.technologies-used ul {
    list-style: none;
    padding: 0;
}

.technologies-used li {
    font-size: 22px; /* Zwiększony rozmiar czcionki */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.technologies-used .tech-icon {
    width: 24px; /* Szerokość ikony */
    height: 24px; /* Wysokość ikony */
    margin-right: 10px; /* Odstęp między ikoną a tekstem */
    fill: #333; /* Kolor ikony */
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px; /* Możesz dostosować odstęp między kontenerem a sekcją hr */
}

.flex-item {
    text-align: center;
    flex: 1 1 calc(33.333% - 20px); /* Ustawia szerokość elementów na około 1/3 szerokości kontenera minus odstęp */
    max-width: 300px; /* Maksymalna szerokość elementu, aby obrazki nie były zbyt duże */
}

.flex-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lekki cień dla estetyki */
}

.flex-item p {
    margin-top: 10px;
    font-size: 16px; /* Rozmiar czcionki opisu */
}
/* Ensure this style is in your articles.css or demo-styles.css */
.dataset-item {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Align content in a column */
    text-align: center; /* Center text content if any */
    margin-bottom: 20px; /* Space between dataset items */
}

.demo-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;

    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block; /* Block level for margin auto to work */
}


